.navbar {
  height: 100px;
}
.footer {
  display: block;
  text-align: center;
  margin: 0 auto;
  align-content: center;
  border-radius: 10px;
  border: 1px solid #666666;
  width: 500px;
}

h1 {
  margin: 10px;
}
form {
  padding: 15px 30px;
  margin: 0 auto;
}

.row {
  display: inline-block;
  margin: auto;
}
#name {
  width: 200px;
  margin: 0px 5px;
}

#email {
  width: 200px;
  margin: 0px 5px;
}

#submit_button {
  position: relative;
  margin: 0px 10px;
  padding: 5px 20px;
  background: #5c9fcf;
  border-radius: 10px;
  color: white;
  border: 1px solid #ccc;
}

input[type="text"] {
  border-radius: 5px;
  margin: 10px 0;
  background: #fff;
  border: 1px solid #ccc;
  color: #ccc;
  max-width: 100%;
  outline: none;
  padding: 7px 8px;
  text-align: center;
}
#submit_button:hover {
  opacity: 0.6;
}
