* {
    padding: 0;
    margin: 0;
}
body {
    background: #fff;
    font-family: 'Moon Dance', cursive;

}
.navBar {
    background: #000;
    height: 47px;

}

.botonNav {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    text-align: center;
}

.botonNav:hover {
    background: #fff;
    color: #000;
    opacity: 0.8;
}

.icons {
    display: inline-block;
    padding: 8px;
}
.contacto {
    display: inline-block;
    text-decoration: none;
}

#bordes{
    margin: 0;
    padding: 0;
}

.borde{
    width: 30px;
    height: 50px;
    background: #82E8D3;
    border-radius: 0px 0px 20px 20px;
    display: table-cell;
}

